@import '../../styles/index.scss';

.header {
  background: #ab89a2;
  height: 50px;
  -webkit-box-shadow: 0 8px 6px -6px $uiGrey;
  -moz-box-shadow: 0 8px 6px -6px $uiGrey;
  box-shadow: 0 8px 6px -6px $uiGrey;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  overflow: hidden;
  position: fixed;
  width: 100vw;
}

.btnContainer {
  margin: 0 5rem 0 3rem;
}

.footer {
  height: 50px;
  background: $uiLogo;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: $uiDark;
}
#lblCartCount {
  font-size: 12px;
  background-color: $uiDark;
  color: #fff;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
  margin-bottom: 10px;
}
