@import '../../styles/index.scss';

.image {
  width: 200px;
  height: 200px;
  object-fit: contain;
  border-radius: 16px;
  align-self: center;
}
.profileCard {
  box-shadow: 5px 2px 8px 3px #f1e6f5;
  display: flex;
  padding: 1rem;
  color: $uiDark;
  margin-bottom: 1rem;
}

.profileDetail {
  padding: 0px 10px;
}

.repo_name {
  font: $contentMediumB;
  margin-top: 1rem;
  line-height: 1.5em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.repo_desc {
  font: $contentMedium;
  margin-top: 1rem;
  line-height: 1.5em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
